body{
    overflow-x: hidden;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 22px 0px #00000033;
    width: 100%;
    max-width: 438px;
    margin: 15px 17px 80px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #DEE1E3;
}
.circle{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.pricing-button-green:hover{
background-color: #41894e !important;
}
.pricing-button-orange:hover{
    background-color:  #DC9E00!important;
    }

.cards{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    width: 100vw;
    height: 90vh;
    background-image: url(./assets/backround.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
.listItem{
    height: 58px;
    display: flex;
    align-items: center;

}
.main-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform .2s;
     margin-top: 5%;
     margin-left: 5%;
      margin-right: 5%; 
      
}

.circle-container:hover{
    transform: scale(1.5);
}
.componentContainer{
    
    display: flex;
    flex-wrap: wrap;
  
   
}
.bar{
    background-color:  rgb(222, 225, 227) !important; 
}

.css-5xe99f-MuiLinearProgress-bar1{
    background-color: #499557 !important;

}

.container-mainpage{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progressbar{
    width: 50%;
    

}
.cards-change{
    width: 50%;
    margin-right: 5%;

}

.imageChange{
    margin-left: 15%;
}

 .img{
    width: 100%;
 }

 @media screen and (max-width: 900px) {
    .progressbar{        
    
      display: none;
    }
    .cards-change{
        width: 80%;
        align-items: center;
    }
    .imageChange{
        margin-left: 0%;
    }
}

.css-46bh2p-MuiCardContent-root {
    padding-bottom: 0 !important;
   
}

.upgradeButton:hover{
    background-color: #41894e !important;

}   

.progress-div{
   
        cursor: pointer;
}